.slider_holder {
  position: relative;

  .slick-slider {
    height: 60vh;
  }

  .slider_item {
    width: 100%;
    height: 60vh;

    &:focus {
      outline: none !important;
    }

    .slider_item_bg {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;

      &:focus {
        outline: none !important;
      }
    }
  }

  .slick-arrow {
    z-index: 5;
    width: 32px;
    height: 56px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      display: none;
    }

    &.slick-prev {
      left: 30px;
      background: url("../../../public/assets/arrow_left.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.slick-next {
      right: 30px;
      background: url("../../../public/assets/arrow_right.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  ul.slick-dots {
    bottom: 20px;
    text-align: left;
    padding-left: 70px;
  }

  .slick-dots li button:before {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.49);
  }

  .slick-dots li.slick-active button:before {
    color: #fff;
  }

  ul.slick-dots {
    width: 50%;
  }
}

.swiper-slide {
  img {
    height: 200px !important;
  }
}
