@import "styles/colors.module.scss";

.Footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $main;
  margin-top: 140px;
  .flex {
    display: flex;
    align-items: center;
    margin: 0 80px;
    svg {
      color: #fff;
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    a {
      font-size: 18px;
    }
  }
}
.copyright {
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .Footer {
    flex-direction: column;
    .flex {
      margin-top: 20px;
    }
  }
}
